In [1]:
import pandas as pd

In [2]:
df2 = pd.DataFrame({'patient': ['one', 'one', 'one', 'three','three', 'two','two','two','two'],    
                    'pattern': ['A', 'B', '000', 'C', 'A', '000','D','A','C'],        
                    'date': ['11/20/2022', '11/22/2022', '11/23/2022', '11/8/2022', '11/9/2022', '11/14/2022','11/20/2022', '11/22/2022', '11/23/2022']})

In [7]:
m = df2["pattern"] == "000"

summary_df = df2[~m].groupby("patient").agg(pattern = ("pattern", lambda x: ' ,'.join(x)),
                                            patients = ("patient", "count")).reset_index()

summary_df

  patient  pattern  patients
0     one     A ,B         2
1   three     C ,A         2
2     two  D ,A ,C         3

In [3]:
required_dataset = pd.DataFrame({'pattern': ['A,B', 'C,A','D,A,C'],   ### Pattern happend by Date
                    'patients': [2,1,1]})                             ### Total Number of patients

required_dataset

  pattern  patients
0     A,B         2
1     C,A         1
2   D,A,C         1